{% extends "layout.html" %}

{% block content %}
<div class="container">
    <img src="{{ url_for('static', filename='assets/logo.jpeg') }}" alt="Top Logo" class="m-4">
    <form action="{{ url_for('feedback') }}" method="POST" class="form-group">
        {{ form.csrf_token() }}
        <fieldset>
            <div class="form-group fieldset">
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                {{ form.name(class="form-control is-invalid myInput", value=form.name.data) }}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                    <span> {{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.name(class="form-control myInput") }}
                {% endif %}
                
            </div>
            <div class="form-group fieldset">
                {{ form.email.label(class="form-control-label") }}
                {{ form.email(class="form-control myInput") }}
            </div>
            <div class="form-group fieldset">
                {{ form.feedback.label(class="form-control-label") }}
                {{ form.feedback(class="form-control myInput", rows='10', cols='30') }}
            </div>
            <div class="form-group fieldset">
                {{ form.dealer.label(class="form-control-label") }}
                {{ form.dealer(class="form-control myInput") }}
            </div>
        </fieldset>
        <div class="form-group fieldset">
            {{ form.submit(class="btn btn-outline-info myBtn") }}
        </div>
    </form>
</div>
{% endblock %}